$seekfilesdir = '/tmp';
# where the state information will be saved.

$protocolsdir = '/tmp';
# where protocols with found patterns will be stored.

@searches = ({

    tag => 'failed_logon',
    logfile => '/var/log/secure',
    rotation => 'simple',
    
    warningpatterns => [
	'authentication failure', 
	'failed password',
	'invalid user', 
	],

    warningexceptions => [
        '.*logname=vpetrone.*',
        '.*pam_unix.*',
        '.*session opened for user root by vpetrone.*',
        '.*session opened for user root by \(uid=0\).*',
        '.*This is an exclude message example using the OR logic.*',
        ],

    criticalpatterns => [
        ],

    criticalexceptions => [
        ],

    options => 'nocase'
    #options => 'script,protocol,nocount',
    #script => 'sendnsca_cmd'
  
})
